nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid;
  border-bottom: 3px solid rgb(0, 255, 127);
  background-color: rgb(0, 255, 127);
}

.navbar > h1 {
  font-size: 30px;
  color: rgb(0, 255, 127);
}

.navbar_links {
  display: flex;
  align-items: center;
}

.navbar_links > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 0 15px;
  text-decoration: none;
}

.navbar_emoji {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}
